/* background-color: #002B36; */
/* background-color: #e4d5a4; */
/* background-color: #dce1e2; */
/* background-color: #c3e5e2; */
/* background-color: #fbf4e0; */
/* background-color: #acbbbf; */

.inp{
    
}

/* .row{
    background-color: #e4d5a4;
    height: 50px;
} */
#container{
    /* top right bottom left */
    margin: 30px 0px 0px 50px;
    width: 1024px;
}
hr.one{
    /* height: 40px;
    color: #fff;
    width: 100px; */
    border-top: 10px solid #000;
}
#heading{
    text-align: center;
}
.time{
    color: #ffffff;
    font-size: large;
    /* margin-top: 20px; */
    
    text-align: right;
    border-bottom: 2px dashed #e4d5a4;
    
}
#time-8am{
    border-top: 2px dashed #e4d5a4
}
.timeSlots{
    
}
.save-buttons{
    text-align: left;
    margin-top: 18px;
}
.items{
    border-bottom: 2px solid #e4d5a4;
}
.saveBtns{
    border-bottom: 2px dotted #e4d5a4;
    
}
#{
    border-top: 2px dotted #e4d5a4;
}
.save-buttons{
    text-align: left;
}